<main class="container mt-5">
    <section class="row col-12 ">
        <article class="col-lg-6 personalize text-white ">
            <p class="title">Nuestros pacientes <br> son nuestra mejor <br> referencia</p>
            <p>Acciones rápidas</p>
            <div class="mt-3">
                <a [routerLink]="['/cartilla-medica']">Directorio Médico</a>
                <a [routerLink]="['/Altaturnos']">Turnos Disponibles</a>
                <a [routerLink]="['/novedades']">Últimas Noticias</a>
            </div>
        </article>
            <div id="carouselExampleSlidesOnly" class="carousel slide col-lg-6 slider-per m-0 p-0 " data-bs-ride="carousel">
                <div class="carousel-inner p-0">
                  <div class="carousel-item active ">
                    <img src="https://img.freepik.com/foto-gratis/doctor-estetoscopio-manos-fondo-hospital_1423-1.jpg?w=740&t=st=1719777100~exp=1719777700~hmac=440d35e1f223997b33b5b03a2e40c57dd2f03dd4340b7e2f976df9cad8d40b0d" class="d-block w-100 img-slider" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://img.freepik.com/foto-gratis/medico-anotando-sintomas-paciente_53876-63308.jpg?w=740&t=st=1719777237~exp=1719777837~hmac=64be4ab9216216c2380ae5bb3daef0ed368adc8d1d762bf9024b2f6731ad78a3" class="d-block w-100 img-slider" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://img.freepik.com/foto-gratis/doctora-concentrada-trabajando-pantalla-virtual_1134-639.jpg?w=740&t=st=1719778854~exp=1719779454~hmac=644e19cb89ae5d8c1a8614f9df13527739620fa286cddbbf4d3e525018a3379d" class="d-block w-100 img-slider" alt="...">
                  </div>
                  <p class="title-slider">Somos tu hospital de confianza</p>
                </div>
              </div>
    </section>
    <section class="container mt-5">
        <div class="sec-novedades">
            <h2>Novedades</h2>
            <p>Conoce las ultimas noticias sobre el hospital</p>
            <button class="btn btn-outline-danger rounded-5" [routerLink]="['/novedades']">Ver todas las novedades</button>
        </div>
        <div class="row">
            <div class="card mt-3 mb-5" style="width: 18rem;" *ngFor="let n of novedades">
                <img src="{{n.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{n.titulo}}</h5>
                  <p class="card-text">{{n.descripcion}}</p>
                </div>
              </div>
        </div>
    </section>
    <section class="container mb-3">
        <h3>Donde estamos</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d909.4126236715524!2d-65.20625443047963!3d-24.25399997591528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b073880b0d94d%3A0x812817ab901dd824!2sCl%C3%ADnica%20Nuestra%20Se%C3%B1ora%20de%20F%C3%A1tima!5e0!3m2!1ses!2sar!4v1719779608548!5m2!1ses!2sar" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>