<h1 class="text-center">Bienvenido (nombre admin)!</h1>

<section class="m-3">
    <section>
        <div class="card">
            <h5 class="card-header">Administrador(tú)</h5>
            <div class="card-body">
                <h5 class="card-title">Sofía Yáñez</h5>
                <p class="card-text">DNI: 41562685</p>
                <p class="card-text">Contacto: 3885970702</p>
                <a href="#" class="btn btn-primary m-2">Editar info</a>
                <a href="#" class="btn btn-primary m-2">Eliminar Cuenta</a>
            </div>
        </div>
    </section>
</section>


<section class="m-3">
    <h2>Acciones</h2>
    <article>
        <form>
            <label for='searchAdmin' class="m-1">Administradores(16)</label>
            <input type='text' id='searchAdmin' class="m-1 rounded-2 p-1" name='searchAdmin' placeholder='ej. 415626885'>
            <button class='btn btn-primary m-1'>Buscar</button>
        </form>
    </article>
</section>
<section class='items__section'>
    <article class='items__article'>
            <!-- <h1>No hay pacientes</h1>  -->
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Domicilio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <td>Sofia</td>
                                <td>Yañez</td>
                                <td>41562685</td>
                                <td>Calle Bustamante 260</td> 
                                <td class='td__actions'>
                                    <a class='btn btn-primary' href=''>Ver más</a>
                                </td>
                            </tr>
                </tbody>
            </table>
    </article>
</section>

<section class="m-3">
    <article>
        
        <form>
            <label for='searchPatient' class="m-1">Pacientes(8)</label>
            <input type='text' class="m-1 rounded-2 p-1" id='searchPatient' name='searchPatient' placeholder='ej. 415626885'>
            <button class='btn btn-primary m-1'>Buscar</button>
        </form>
    </article>
</section>

<section class='items__section'>
    <article class='items__article'>
            <!-- <h1>No hay pacientes</h1>  -->
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Domicilio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <td>Sofia</td>
                                <td>Yañez</td>
                                <td>41562685</td>
                                <td>Calle Bustamante 260</td> 
                                <td class='td__actions'>
                                    <a class='btn btn-primary' href=''>Ver más</a>
                                </td>
                            </tr>
                </tbody>
            </table>
    </article>
</section>

<section class="m-3">
    <article>
        <form>
            <label for='searchDoctor' class="m-1">Medicos(16)</label>
            <input type='text' id='searchDoctor' class="m-1 rounded-2 p-1" name='searchDoctor' placeholder='ej. 415626885'>
            <button class='btn btn-primary m-1'>Buscar</button>
        </form>
    </article>
</section>

<section class='items__section'>
    <article class='items__article'>
            <!-- <h1>No hay pacientes</h1>  -->
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Domicilio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <td>Sofia</td>
                                <td>Yañez</td>
                                <td>41562685</td>
                                <td>Calle Bustamante 260</td> 
                                <td class='td__actions'>
                                    <a class='btn btn-primary' href=''>Ver más</a>
                                </td>
                            </tr>
                </tbody>
            </table>
    </article>
</section>

<section class="m-3">
    <article>
        <h2>Novedades</h2>
        <button class='btn btn-primary m-3' >Crear novedad</button>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link btn btn-primary">Aceptar</a>
                <a href="#" class="card-link btn decline">Rechazar</a>
            </div>
        </div>
    </article>
</section>

<section class="m-3">
    <article>
        <h2>Posteo en redes sociales</h2>
        <button class='btn btn-primary' >Postear en facebook</button>
    </article>
</section>




