<h1 class="text-center">Bienvenido (nombre admin)!</h1>

<div style="text-align:center; width: 50%;">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [title]="chartOptions.title!"
    ></apx-chart>
  </div>

<section class="m-3">
    <h2>Acciones</h2>
    <article>
        <form>
            <label for='searchAdmin' class="m-1">Administradores({{admins.length}})</label>
            <input type='text' id='searchAdmin' class="m-1 rounded-2 p-1" name='searchAdmin' placeholder='ej. 415626885' [(ngModel)]="dniAdmin">
            <button type="button" class='btn btn-primary m-1' (click)="obtenerAdminByDni(dniAdmin)" data-bs-toggle="modal" data-bs-target="#exampleModal">Buscar</button>
        </form>
    </article>
    <article>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="admin">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModalLabel">{{admin.nombre}} {{admin.apellido}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Dni: {{admin.dni}}</p>
                    <ul>
                        <li  *ngFor="let contacto of admin.contactos">
                            {{contacto.tipo}}: {{contacto.valor}}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="eliminarAdmin(admin._id)">Eliminar</button>
                </div>
            </div>
            </div>
        </div>
    </article>
</section>
<section class='items__section' *ngIf="admins.length!=0">
    <article class='items__article'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Contactos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let adm of admins">
                        <td>{{adm.nombre}}</td>
                        <td>{{adm.apellido}}</td>
                        <td>{{adm.dni}}</td>
                        <td>
                            <ul>
                                <li  *ngFor="let contacto of adm.contactos">
                                    {{contacto.tipo}}: {{contacto.valor}}
                                </li>
                            </ul>
                        </td>
                        <td class='td__actions'>
                            <a class='btn btn-primary' routerLink="/perfil-usuario" routerLinkActive="active" (click)="eliminarAdmin(adm._id)">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
    </article>
    <article *ngIf="admins.length==0" class="mt-3">
        <h3 class="text-center" style="color: #ff4500;">Aun no hay administradores</h3>
    </article>
</section>


<section class="m-3">
    <article>
        
        <form>
            <label for='searchPatient' class="m-1">Pacientes({{pacientes.length}})</label>
            <input type='text' class="m-1 rounded-2 p-1" id='searchPatient' name='searchPatient' placeholder='ej. 415626885' [(ngModel)]="dniPaciente">
            <button class='btn btn-primary m-1' (click)="obtenerPacienteByDni(dniPaciente)">Buscar</button>
        </form>
    </article>
</section>

<section class='items__section'>
    <article class='items__article'>
            <!-- <h1>No hay pacientes</h1>  -->
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Contactos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                            <tr *ngFor="let pac of pacientes">
                                <td>{{pac.nombre}}</td>
                                <td>{{pac.apellido}}</td>
                                <td>{{pac.dni}}</td>
                                <td>{{pac.domicilio}}</td> 
                                <td class='td__actions'>
                                    <button class='btn btn-primary' (click)="perfilPaciente(pac._id)">Ver más</button>
                                    <button class="btn btn-success button-crud" (click)="modificarPaciente(pac._id)">Modificar</button>
                                    <button class="btn btn-danger" type="submit" (click)="deletePaciente(pac._id)">Eliminar</button>
                                </td>
                            </tr>
                </tbody>
            </table>
            <a type="button" class="btn btn-primary" routerLink="/register/0">Agregar Paciente</a>
    </article>
</section>

<section class="m-3">
    <article>
        <form>
            <label for='searchDoctor' class="m-1">Medicos({{medicos.length}})</label>
            <input type='text' id='searchDoctor' class="m-1 rounded-2 p-1" name='searchDoctor'
                placeholder='ej. 415626885' [(ngModel)]="dniMedico">
            <button type="button" class='btn btn-primary m-1' (click)="obtenerMedicoByDni(dniMedico)"
                data-bs-toggle="modal" data-bs-target="#exampleModalMed">Buscar</button>
        </form>
    </article>
    <article>
        <div class="modal fade" id="exampleModalMed" tabindex="-1" aria-labelledby="exampleModalLabelM"
            aria-hidden="true" *ngIf="medico">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="exampleModalLabelM">{{medico.nombre}} {{medico.apellido}}</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Dni: {{medico.dni}}</p>
                        <p>Contactos: {{medico.contactos[0].valor}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

<section class='items__section'>
    <article class='items__article'>
        <!-- <h1>No hay pacientes</h1>  -->
        <table class='table'>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Contactos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let med of medicos">
                    <td>{{med.nombre}}</td>
                    <td>{{med.apellido}}</td>
                    <td>{{med.dni}}</td>
                    <td>{{med.contactos[0].tipo}}: {{med.contactos[0].valor}}</td>
                    <td class='td__actions'>
                        <button class='btn btn-primary' (click)="perfilMedico(med._id)">Ver más</button>
                        <button class="btn btn-success button-crud" (click)="modificarMedico(med._id)">Modificar</button>
                        <button class="btn btn-danger" type="submit" (click)="deleteMedico(med._id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" routerLink="/medico-form">Agregar Medico</a>
    </article>
</section>

<section class="m-3">
    <h2>Novedades</h2>
    <button class='btn btn-primary m-3' routerLink="/novedad-form" >Crear novedad</button>
    <article class="d-flex" >
        <div class="card m-3" style="width: 18rem;" *ngFor="let nov of novedades">
            <div class="card-body" >
                <img [src]="nov.imagen" class="card-img-top img-thumbnail" style="max-width: 300px" alt="...">
                <h5 class="card-title">{{nov.titulo}}</h5>
                <p class="card-text">{{nov.descripcion}}</p>
                <small>{{nov.fecha_ini | date: 'longDate' }}</small>
                <div class="mt-4">
                <a routerLink="/dashboard"  class="card-link btn decline"(click)="eliminarNovedad(nov._id)">Eliminar</a>
                </div> 
            </div>
        </div>
        
    </article>
</section>

<section class="m-2">
    <app-public></app-public>
</section>