<div class="container">
    <h1 class="text-center my-4 text-uppercase">Buscá en la cartilla</h1>
    <div class="d-flex justify-content-center mb-4 buttons">
        <button class="btn btn-outline-primary mx-2">Especialidades médicas</button>
        <button class="btn btn-outline-primary mx-2">Busqueda por nombre</button>
    </div>
    <div class="mb-4 search-bar">
        <input type="text" placeholder="Ejemplo: Neurología">
        <button>Buscar</button>
    </div>
    <div class="mb-4 suggestions">
        <p>Sugerencias</p>
        <ul>
          <li>.</li>
        </ul>
    </div>
    <div class="results">
        <h3>Resultados</h3>
        <p>Nº resultados encontrados</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dr. nombre apellido</h5>
                        <p class="card-subtitle text-center">Especialidades</p>
                        <p class="card-text">Ubicacion</p>
                        <p class="card-text">Contactos</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center next-appointment">
                        <p>Próximo turno: </p>
                        <a href="#">Ver agenda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>