<div class="container mb-3">
  <h1 class="text-center text-uppercase">Novedades</h1>
  <div class="col-12 nav mt-4">
    <button class="btn btn-lg">Noticias</button>
    <button class="btn btn-lg">Talleres</button>
    <button class="btn btn-lg">Campañas</button>
    <button class="btn btn-lg">Blog médico</button>
  </div>
  <div class="row mt-4">
    <div class="card">
      <div class="row">
        <div class="col-sm-4">
          <img src="" alt="..." />
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <span class="card-text">Fecha</span>
            <p class="card-text">Descripcion...</p>
            <a href="#">Ver noticia</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
