<form class="m-3">
    <div class="form-group">
    <label for="my-input">Posteo en redes sociales</label>
    <p>
        <small>Ingrese el mensaje que desea postear en Facebook</small> <a [href]="['https://web.facebook.com/profile.php?id=61561995515299&locale=es_LA&_rdc=1&_rdr']" target="_blank"><img class="icon" src="https://cdn-icons-png.flaticon.com/256/733/733547.png" alt=""></a>
    </p>
    <input id="my-input" class="form-control w-50" type="text"
    [(ngModel)]="mensaje" name="mensaje">
    </div>
    <button class="btn btn-primary"
    (click)="postFb()">Postear en Facebook</button>
</form>