label {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

.icon{
    width: 25px;
    margin-right: 15px;
}