<nav class="navbar navbar-expand-lg bgNav">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']"><img [src]="['assets/images/logo.jpg']" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto"> 
                <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link active text-white" aria-current="page" [routerLink]="['home']">INICIO</a>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link text-white" [routerLink]="['novedades']">NOVEDADES</a>
                </li>
                <li *ngIf="pacienteService.userLoggedIn()" class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link text-white" [routerLink]="['perfil-usuario', 'paciente', paciente._id]">Mi perfil</a>
                </li>
               
                <li *ngIf="!pacienteService.userLoggedIn()" class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link text-white" [routerLink]="['login']">INICIAR SESION</a>
                </li>
                <li *ngIf="!pacienteService.userLoggedIn()" class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link text-white" [routerLink]="['register',0]">CREAR UN USUARIO</a>
                </li>
                <li *ngIf="pacienteService.userLoggedIn()" class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link text-white" [routerLink]="['home']" (click)="pacienteService.logout()"><button>CERRAR SESION</button></a>
                </li>
                <li class="nav-item dropdown" style="width: 200px;" >
                    <a class="nav-link dropdown-toggle bg-white rounded-2 text-color text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        AUTOGESTION
                    </a>
                    <ul class="dropdown-menu" style="width: 200px;">
                        <li class="bg-ul"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/256/2080/2080887.png" alt=""><a class="text-white a-esp" [routerLink]="['Altaturnos']">Turnos</a></li>
                        <li class="bg-ul"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/256/2080/2080887.png" alt=""><a class="text-white a-esp" [routerLink]="['modibajaturnos']">MODIFICAR TURNO  </a></li>
                        <li class="bg-ul"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/256/2080/2080887.png" alt=""><a class="text-white a-esp" [routerLink]="['bajaturnos']">BAJA TURNO  </a></li>
                       
                        <li class="bg-ul"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/256/2804/2804595.png" alt=""><a class="text-white a-esp" [routerLink]="['perfil-usuario']">Historia Clinica</a></li>
                    </ul>
                </li>
                <li *ngIf="pacienteService.userLoggedIn()" class="nav-item ms-3" style="margin-right: 20px;">
                    <small>Hola {{paciente.nombre}} {{paciente.apellido}} !</small>
                </li>
            </ul>
        </div>
    </div>
</nav>
