<div class="container">
    <div class="row">
        <div>
            <h2 class="text-center text-uppercase">Registrar novedad</h2>
        </div>
        <form>
            <div class="form-group">
                <label for="titulo" class="form-label">Titulo:</label>
                <input type="text" id="titulo" class="form-control" placeholder="Agregar titulo de la novedad" name="titulo" required>
            </div>
            <div class="form-group">
                <label for="fechaNoticia" class="form-label">Agregar fecha de la noticia:</label>
                <input type="date" id="fechaNoticia" class="form-control" placeholder="Agregar fecha de la novedad" name="fechaNoticia" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                    <textarea class="form-textarea" placeholder="Escribir descripcion" id="descripcion" style="height: 100px"></textarea>
            </div>
            <div class="form-group">
                <label for="cuerpoNovedad" class="form-label">Cuerpo de la novedad:</label>
                <textarea class="form-textarea" placeholder="Escribir cuerpo de la novedad" id="cuerpoNovedad" style="height: 200px"></textarea>
            </div>
            <div class="form-group">
                <label for="tipoNovedad" class="form-label">Tipo de novedad:</label>
                <select id="tipoNovedad" class="form-select">
                    <option value="noticia">Noticia</option>
                    <option value="taller">Taller</option>
                    <option value="campaña">Campaña</option>
                    <option value="blogMedico">Blog Médico</option>
                </select>
            </div>
            <div class="form-group">
                <label for="img" class="form-label">Subir imagen de la novedad:</label>
                <input type="file" name="img" id="img" class="form-control">
            </div>
        </form>
        <button class="button" type="submit">Guardar Novedad</button>
    </div>
</div>