/* /////////////////////////////////////////////////////////////////*/

.muestra079{
    border-radius: 15px;
    border: 2px solid rgb(1, 1, 19);
    background-color: #0b0353;
    font-size: 14px;
    font-style: italic;
    color: rgb(240, 229, 85);
    text-align: center;
  } 
   
  /* /////////////////////////////////////////////////////////////////*/
  
  /* /////////////////////////////////////////////////////////////////*/
  
  .tit33{
    border-radius: 15px;
    border: 2px solid rgb(1, 1, 19);
    background-color: #0b0353;
    font-size: 22px;
    font-style: italic;
    color: rgb(68, 214, 63);
    text-align: center;
  } 
   
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
    .textoo{
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
      background-color: #0b0353;
      font-size: 17px;
      font-style: italic;
      color: aliceblue;
      box-shadow: 0px 0px 15px 7px rgb(233, 230, 57);
      text-shadow: 0.1em 0.1em 0.2em black;
      text-align: center;
    } 
     
  /* /////////////////////////////////////////////////////////////////*/
  
  .textoo7{
    border-radius: 15px;
    border: 2px solid rgb(1, 1, 19);
    background-color: #0b0353;
    font-size: 27px;
    font-style: italic;
    color: aliceblue;
    box-shadow: 0px 0px 15px 7px rgb(233, 230, 57);
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: center;
  } 
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  .fondo11{  font-size: 1.4em;
      border-radius: 15px;
      border: 2px solid rgb(2, 2, 95);
      justify-content: center;
      text-align: center;
      font-style: italic;
  }
  
  .cartel11{  background-color: #927dee;
      color: rgb(0, 1, 7);
      font-size:  1.2em;
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
  }
  
  
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  
  .headerr11{  background-color: #304ceb;
      color: rgb(4, 7, 41);
      font-size: 1.2em;
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
  }
  
  .headerr22{  background-color: #e2ee3a;
      color: rgb(4, 7, 41);
      font-size: 1.2em;
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
  }
  .headerr33{  background-color: #994fa0;
      color: rgb(4, 7, 41);
      font-size: 1.2em;
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
  }
  
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
   .articc { color: #ffffff;
      font-size: 1.2em;
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
      justify-content: center;
      text-align: center;
   }
  
  
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  
  nav{
      background-color: #a1eb9a;
      font-size: 1.1em;
      border-radius: 15px;
      border: 2px solid rgb(5, 88, 33);
      box-shadow: 0px 0px 10px 8px rgb(232, 243, 71);
      text-shadow: 0.1em 0.1em 0.2em black;
  }
  
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
     .letraa{
      font-size: 15px;
      font-style: italic;
      font-family:'Times New Roman', Times, serif;
     }
     
  
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  
  .textoo2{
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
      background-color: #0b0353;
      font-size: 20px;
      font-style: italic;
      color: aliceblue;
      box-shadow: 0px 0px 10px 4px rgb(228, 231, 36);
      text-shadow: 0.1em 0.1em 0.2em black;
      text-align: center;
    } 
     
  
    .textoo3{
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
      background-color: #087535;
      font-size: 20px;
      font-style: italic;
      color: aliceblue;
      box-shadow: 0px 0px 10px 4px rgb(221, 185, 65);
      text-shadow: 0.1em 0.1em 0.2em black;
      text-align: center;
    } 
  
    .textoo4{
      border-radius: 15px;
      border: 2px solid rgb(1, 1, 19);
      background-color: #d6b9da;
      font-size: 15px;
      font-style: italic;
      color: rgb(1, 8, 14);
      box-shadow: 0px 0px 10px 4px rgb(231, 228, 42);
      text-shadow: 0.1em 0.1em 0.2em black;
      text-align: center;
    } 
  
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////////////////////*/
  
